{% extends "base.html.jinja" %}
{% block title %}
    Strona Głowna
{% endblock title %}

{% block content %}
    <p>To jest Projekt Web Scrapera do pobierania danych o produktach z Ceneo.</p>
{% endblock content %}